<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /appbarberia/

    # Redirige todo excepto archivos y directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige a public/index.php
    RewriteRule ^(.*)$ public/index.php [L,QSA]

    
</IfModule>